@using eBookCommerce.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<style>
</style>

<section id="loginForm">
    <div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center my-background-image">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal text-center", role = "form" }))
        {
            <h2 class="my-title">@ViewBag.Title.</h2>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label my-sub-title" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control my-text-input" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label my-sub-title" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control my-text-input" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>            
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary mt-3 my-button" />
                <a href='@Url.Action("Register", "Account")' class="btn btn-primary mt-3 my-button">Register</a>
            </div>            
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}