@model eBookCommerce.Models.eBookCommerceViewModel

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home";
}

<style>
</style>

<div class="container-fluid">
    <div class="row align-items-center my-topbar">
        @{
            Html.RenderPartial("_Topbar", Model);
        }

        <div class="col-md-3">
            @if (Model.booksPagedList.Count > 0)
            {
                @Html.PagedListPager(Model.booksPagedList, page => Url.Action("Index", new { page }))
            }
        </div>
    </div>

    <div class="row">
        @if (Model.booksPagedList.Count > 0)
        {
            foreach (var book in Model.booksPagedList)
            {
                <div class="col-md-3 text-center mt-5">
                    <div class="flip-card my-card" style="width: 100%; height: 100%">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="@book.bookImageUrl" style="width: 100%; height: 75%; object-fit: cover">
                                <div style="width: 100%; height: 25%">
                                    <h5 class="my-title">@book.bookName</h5>
                                    <p class="my-sub-title">By @book.bookAuthor</p>
                                    <p class="my-paragraph"><small class="text-muted">Seller @book.AspNetUser.UserName</small></p>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <h5 class="my-title">@book.bookName</h5>
                                <p class="my-sub-title">By @book.bookAuthor</p>
                                <p class="my-paragraph"><small class="text-muted">Seller @book.AspNetUser.UserName</small></p>
                                <p class="my-paragraph">@book.bookDescription</p>
                                <p class="my-paragraph"><small class="text-muted">@book.bookPrice</small></p>
                                <button type="button" class="btn btn-success my-button" onclick="showAddToBasketModal(@book.bookId)">Add to Basket</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>

    @{
        Html.RenderPartial("_GenericModal");
    }
</div>

<script type="text/javascript">    

    function addToBasket(bookId) {
        var userId = "@Model.user.Id";
        var url = "Home/AddToBasket?personId=" + userId + "&bookId=" + bookId;

        $.ajax({
            url: url ,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (result) {
                console.log(result);

                if (result == true) {
                    window.location = "Basket";
                }
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function showAddToBasketModal(bookId = 0) {
        $('#genericModal').modal('show');
        $('.modal-title').html("Add to basket");
        $('.modal-body').html("Are you sure you want to add this item to your basket?");

        $('#yesBtn').html("Yes");
        $("#yesBtn").off("click")
        $("#yesBtn").on("click", function () {
            addToBasket(bookId);
        });

        $('#noBtn').html("No");
    }

</script>
