<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap" rel="stylesheet">

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    @*<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: "Caveat";
            background-color: #c4b3a9;
        }
    </style>
</head>
<body>     
    <div class="container-fluid body-content" style="padding: 0 !important">
        @RenderBody()
    </div>    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/toastr.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
