@*<h5 class="my-title text-center target" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">eBookCommerce</h5>*@

<div class="text-center">
    <button type="button" class="btn btn-success my-button-title target" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">eBookCommerce</button>
</div>

<div class="offcanvas offcanvas-start my-sidebar" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title my-title" id="offcanvasScrollingLabel">eBookCommerce</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item my-title">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link align-middle px-0", @style = "color: white" })
            </li>
            <li class="nav-item my-title">
                @Html.ActionLink("Books", "Index", "Books", null, new { @class = "nav-link align-middle px-0", @style = "color: white" })
            </li>
            <li class="nav-item my-title">
                @Html.ActionLink("Basket", "Index", "Basket", null, new { @class = "nav-link align-middle px-0", @style = "color: white" })
            </li>
            <li class="nav-item my-title">
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link align-middle px-0", @style = "color: white" })
            </li>
            <li class="nav-item my-title">
                @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link align-middle px-0", @style = "color: white" })
            </li>
        </ul>
    </div>
</div>
