@model eBookCommerce.Models.eBookCommerceViewModel

<div class="modal fade" id="bookFormModal" tabindex="-1" aria-labelledby="bookFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bookFormModal">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="bookForm">
                    <div class="mb-3">
                        <label for="bookName" class="form-label">Book Name</label>
                        @Html.LabelFor(a => a.book.bookName, new { @class = "form-label" })
                        @Html.TextBoxFor(a => a.book.bookName, new { @id = "bookName", @class = "form-control", @name = "bookName" })
                        @Html.ValidationMessageFor(a => a.book.bookName, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(a => a.book.bookAuthor, new { @class = "form-label" })
                        @Html.TextBoxFor(a => a.book.bookAuthor, new { @id = "bookAuthor", @class = "form-control", @name = "bookAuthor" })
                        @Html.ValidationMessageFor(a => a.book.bookAuthor, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(a => a.book.bookPages, new { @class = "form-label" })
                        @Html.TextBoxFor(a => a.book.bookPages, new { @id = "bookPages", @class = "form-control", @name = "bookPages" })
                        @Html.ValidationMessageFor(a => a.book.bookPages, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(a => a.book.bookPrice, new { @class = "form-label" })
                        @Html.TextBoxFor(a => a.book.bookPrice, new { @id = "bookPrice", @class = "form-control", @name = "bookPrice" })
                        @Html.ValidationMessageFor(a => a.book.bookPrice, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(a => a.book.bookImageUrl, new { @class = "form-label" })
                        @Html.TextBoxFor(a => a.book.bookImageUrl, new { @id = "bookImageUrl", @class = "form-control", @name = "bookImageUrl" })
                        @Html.ValidationMessageFor(a => a.book.bookImageUrl, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(a => a.book.bookDescription, new { @class = "form-label" })
                        @Html.TextBoxFor(a => a.book.bookDescription, new { @id = "bookDescription", @class = "form-control", @name = "bookDescription" })
                        @Html.ValidationMessageFor(a => a.book.bookDescription, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(a => a.book.genreId, new { @class = "form-label" })
                        @Html.DropDownListFor(a => a.book.genreId, Model.genresSelectList, new { @id = "genreId", @class = "form-control", @name = "genreId" })
                        @Html.ValidationMessageFor(a => a.book.genreId, "", new { @class = "text-danger" })
                    </div>

                    @Html.HiddenFor(a => a.user.Id, new { @id="personId", @class="form-control", @name="personId" })
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary" id="saveBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>
